[submodule "public/bootstrap"]
	path = public/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "public/javascripts/autoresize"]
	path = public/javascripts/autoresize
	url = git://github.com/padolsey/jQuery.fn.autoResize.git
[submodule "public/javascripts/github-flavored-markdown"]
	path = public/javascripts/github-flavored-markdown
	url = git://github.com/github/github-flavored-markdown.git
[submodule "public/javascripts/autocomplete"]
	path = public/javascripts/autocomplete
	url = git://github.com/agarzola/jQueryAutocompletePlugin.git
[submodule "public/javascripts/file-uploader"]
	path = public/javascripts/file-uploader
	url = git://github.com/valums/file-uploader.git
[submodule "public/javascripts/H5F"]
	path = public/javascripts/H5F
	url = git://github.com/ryanseddon/H5F.git
[submodule "public/javascripts/form"]
	path = public/javascripts/form
	url = git://github.com/malsup/form.git
[submodule "public/javascripts/jquery-pjax"]
	path = public/javascripts/jquery-pjax
	url = git://github.com/defunkt/jquery-pjax.git
[submodule "public/javascripts/jquery-notify"]
	path = public/javascripts/jquery-notify
	url = git://github.com/ehynds/jquery-notify.git
[submodule "public/javascripts/smooth-scroll"]
	path = public/javascripts/smooth-scroll
	url = git://github.com/kswedberg/jquery-smooth-scroll.git
