!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title} - Posts.li
    meta(name="description", content="")
    meta(name="author", content="")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js")
    script(src="/javascripts/autoresize/jquery.autoresize.js")
    script(src="/javascripts/github-flavored-markdown/scripts/showdown.js")
    script(src="/javascripts/posts.js")

    link(href="/stylesheets/style.css", rel="stylesheet")
    <!-- Le fav and touch icons -->
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body

    .container
      header
        .user-controls
          a(href="/signup") Sign up

        a(href="/")
          img(src="/images/logo-small.png")

      .content
        != body

      footer
        p &copy; Lin Gui 2011

