extends layout

block scripts
  script(src="/javascripts/app/preferences.js")

block content
  .page-header
    h1 Preferences &nbsp;
      small custom you profile


  form.preferences(action='/preferences', method='post')
    .clearfix
      label(for="fullname") Full name
      .input
        input(name="fullname", placeholder="Full name", value=user.fullname, autocomplete='off')

    .clearfix
      .input
        a(href='/google-reader?next=#{encodeURIComponent(url)}') google reader


    .clearfix
      label SNS
      .input
        a()同步新浪微博
        a()同步腾讯微博
        a twitter
        a facebook

    - if(!locals.signupStep2)
      .clearfix
        label(for="password") Current Password
        .input
          input(name="password", type="password", placeholder="Current Password")
      .clearfix
        label(for="new-password") New Password
        .input
          input(name="new-password", type="password", placeholder="New password")
      .clearfix
        label(for="repeat-password") Repeat Password
        .input
          input(name="repeat-password", type="password", placeholder="Repeat new password")

    .clearfix
      .input.avatarexplain
        img(src=avatar(user.md5, 48))
        p
          strong Change you avatar at <a href="http://gravatar.com" target="_blank">gravatar.com</a>
          | using #{user.email}

    .actions
      input.btn.btn-primary(type="submit", value="Save settings")
      &nbsp;
      button.btn(type="reset") Cancel
