.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 5px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &.trash {
    background: url(../images/trash_stroke.png);
  }

  &.heart {
    background: url(../images/heart_stroke.png) 0 center no-repeat;
  }

  &.star {
    background: url(../images/star-stroke.png);
  }

  &.cog {
    background: url(../images/cog_alt.png);
  }

  &.loop {
    background: url(../images/loop_alt2.png) 0 center no-repeat;
  }

  &.pen {
    background: url(../images/pen.png);
  }

  &.close-icon {
    background: url(../images/x_14x14.png) 0 center no-repeat;
  }

  &.comment-icon {
    background: url(../images/comment_stroke.png) 0 center no-repeat;
  }

  &.comment-icon.fill {
    background: url(../images/comment_fill.png) 0 center no-repeat;
  }

  &.heart.fill {
    background: url(../images/heart_fill.png) 0 center no-repeat;
  }

  &.star.fill {
    background: url(../images/star-fill.png);
  }

}
