.icon8, .icon12, .icon {
  display: inline-block;
  vertical-align: middle;
}
.icon8 {
  width: 8px;
  height: 8px;

  &.pin {
    background: url(../images/pin_8x8.png) center center no-repeat;
  }

  &.pin.fill {
    background: url(../images/pin_blue_8x8.png) center center no-repeat;
  }
}

.icon12 {
  width: 12px;
  height: 12px;

  &.pin {
    background: url(../images/pin_12x12.png) center center no-repeat;
  }

  &.pin.fill {
    opacity: 0.8;
    background: url(../images/pin_blue_12x12.png) center center no-repeat;
  }
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;

  &.disable {
    opacity: 0.3;
  }

  &.trash {
    background: url(../images/trash_stroke.png);
  }

  &.heart {
    background: url(../images/heart_stroke.png) center center no-repeat;
  }

  &.star {
    background: url(../images/star_stroke.png);
  }

  &.cog {
    background: url(../images/cog_alt.png);
  }

  &.loop {
    background: url(../images/loop_alt2.png) center center no-repeat;
  }

  &.pen {
    background: url(../images/pen.png);
  }

  &.clock {
    background: url(../images/clock.png);
  }

  &.tag {
    background: url(../images/tag_stroke.png);
  }

  &.award {
    background: url(../images/award_stroke_8x16.png) center center no-repeat;
  }

  &.close-icon {
    background: url(../images/x_14x14.png) center center no-repeat;
  }

  &.comment-icon {
    background: url(../images/comment_stroke.png) center center no-repeat;
  }

  &.comment-alt {
    background: url(../images/comment_alt_stroke.png) center center no-repeat;
  }

  &.share {
    background: url(../images/share.png) center center no-repeat;
  }

  &.link {
    background: url(../images/link.png) center center no-repeat;
  }

  &.comment-icon.fill {
    background: url(../images/comment_fill.png) center center no-repeat;
  }

  &.comment-alt.fill {
    background: url(../images/comment_alt_fill.png) center center no-repeat;
  }

  &.heart.fill {
    background: url(../images/heart_fill.png) center center no-repeat;
  }

  &.star.fill {
    background: url(../images/star_fill.png);
  }

  &.tag.fill {
    background: url(../images/tag_fill.png);
  }

  &.award.fill {
    background: url(../images/award_fill_8x16.png) center center no-repeat;
  }

}
