.entry {
  margin-bottom: 20px;
}

.lazy {
  display:none;
}

.new-post {
  .makeColumn(10.2);
  .side-controls {
    float: right;
    width: 300px;
    margin: 20px -320px 0 0;
    label {
      float : none;
    }
  }

  input.slug{
    background:none;
    .box-shadow(none);
    .border-radius(0);
    width:150px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  textarea{
    width: 98%;
    height: 60px;
    resize: none;
  }

  .tips {
    line-height: 24px;
    font-weight: bold;
  }

  .preview {
    background-color: @postBackground;
    color:            @postColor;
    border: 3px dotted #ccc;
    margin-top: 15px;
    padding: 20px;
    max-height: 250px;
    overflow: auto;
    .border-radius();
  }
}

.avatar-info{
  .makeColumn(1.5);
  .avatar {
    a.avatar{
      display: block;
      width: 64px;
      height: 64px;
      .border-radius();
      .box-shadow();
    }
  }

  .user-menu {
    display: none;
  }
  &:hover .user-menu{
    display: block;
  }
}

.post {
  background-color: @postBackground;
  color:            @postColor;
  padding:          20px;
  .makeColumn(9.5 + 4);
  .border-radius();
  .box-shadow();

  a {
    color:      @postLinkColor;
  }

  a:hover {
    color:    @postLinkColorHover;
  }

  .loading {
    display: none;
  }

  .comments {
    display: none;
  }

}


.post-controls {
  float: right;
  visibility: hidden;
  .special-chars {
    font-family: serif;
    font-size: 16px;
    color: gray;
  }
  .special-chars.selected {
    color: red;
  }
}

.post:hover .post-controls {
  visibility: visible;
}

.right {
  float: right;
}

.post-controls, .post-info {
  font-size: 13px;
  font-weight: bold;
}

.following, .follower{
  display: block;
  font-size: 18px;
  padding: 10px;
}

.following{
  .border-radius(5px 5px 0 0);
  .box-shadow();
  background-color: darken(@background, 15);
}
.follower{
  .border-radius(0 0 5px 5px);
  .box-shadow();
  background-color: darken(@background, 5);
}

#editor-help {
  margin: 10px;
}
