.entry {
  margin-bottom: 20px;
}

.avatar-info{
  .makeColumn(1.5);
  .avatar {
    a.avatar{
      display: block;
      width: 64px;
      height: 64px;
      .border-radius();
      .box-shadow();
    }
  }

  .user-menu {
    display: none;
  }
  &:hover .user-menu{
    display: block;
  }
}

.post {
  background-color: @postBackground;
  color:            @postColor;
  padding:          20px;
  .makeColumn(9.5 + 4);
  .border-radius();
  .box-shadow();

  a {
    color:      @postLinkColor;
  }

  a:hover {
    color:    @postLinkColorHover;
  }

  .loading {
    display: none;
  }

  .comments {
    display: none;
  }

}


.post-controls {
  visibility: hidden;
  .special-chars {
    font-family: serif;
    font-size: 16px;
    color: gray;
  }
  .special-chars.selected {
    color: red;
  }
}

.post:hover .post-controls {
  visibility: visible;
}

.right {
  float: right;
}

.post-controls, .post-info {
  font-size: 13px;
  font-weight: bold;
  color: gray;
}
