extends ../layout

block content
  .page-header
    h1 Sign in
      small enter the world of posts

  form
    .clearfix
      label(for="email") Username
      .input
        input(name="email", placeholder="User name")

    .clearfix
      label(for="password") Password
      .input
        input(name="password", type="password", placeholder="Password")
    .actions
      input.btn.primary(type="submit", value="Sign in")
      &nbsp;
      button.btn(type="reset") Cancel
