extends ../layout

block content
  .page-header
    h1 Sign up &nbsp;
      small

  form.form-horizontal.signup(method='post', action='/signup')
    .control-group
      label.control-label(for='email') Email
      .controls
        input(type='email', name='email', placeholder='Email', required)

    .control-group
      label.control-label(for='password') Password
      .controls
        input(name='password', type='password', placeholder='Password', required)

    .control-group
      label.control-label(for='repeat-password') Repeat Password
      .controls
        input(name='repeat-password', type='password', placeholder='Repeat Password', required)

    .form-actions
      input.btn.btn-primary(type='submit', value='Sign up')
      &nbsp;
      a(href="/signin") Sign in

block scripts
  script
    $(function(){
      $form = $('form.signup');
      H5F.setup($form[0]);
      $form.ajaxForm({
        error: function(xhr, st, err){
          console.log(st);
          console.log(err);
        },
        success: function(data, s, xhr){
          if(data.success){
            location.href = '/signup-step2';
          } else {
            $notify.notify('create', {title:'Something went wrong', text: data.msg});
          }
        }
      });
    });

