.comment(id="comment-\#\{index}")
  a(href="")
    img(src="http://www.gravatar.com/avatar/\#\{user.md5}?d=retro&amp;s=20", width="20", height="20")
    // this is a chatting room
    span status(in topic, leave topic, offline)
    // TODO @user
  p \#{comment.content}

