// this is a form, and editor-bar usually inside a form
// so put it out of the editor-bar
form#upload-form(action="/upload", method="post", enctype="multipart/form-data")
  input#input-file(type="file", name="file", style='visibility:hidden;position:absolute;')
