.row.entry

  .avatar-info
    // avatar
    .avatar
      a.avatar(href="#", style="background-image:url('/images/avatar.png')", title="Jason's blog")
      // show this on hover, click to pop menu
      .user_info

    // the popup menu
    .user-menu
      .clearfix
        a 5123
      .clearfix
        a(href="#") Chat
      .clearfix
        a(href="#") Unfollow

  .post

    .post-controls
      a.show-comments(href="javascript:void(0)") 10 comments&nbsp;&nbsp;
      a(href="#") reblog&nbsp;&nbsp;
      a(href="#") like&nbsp;
      a(href="#") junk&nbsp;
      a(href="#") jabber&nbsp;

    .post-info
      a(href="#") Jason Green
        span :

    .post-content
      h3 The blog title
      .inside-content
        != locals.html
        p blabla blabla. blabla blabla blabla blabla blabla blabla blabla blabla
        p blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla
        p blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla

    .loading Loading...
    .comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
      .comment
        p show something comments
