extends ../layout

block scripts
  script(src="/javascripts/posts.js")

block content
  .row
    .span16

      // new post
      .row.entry

        .avatar-info
          // avatar
          .avatar
            a.avatar(href="#", style="background-image:url('#{avatar(user.md5, 64)}')", title="Jason's blog")

        include editor

        .span4.sidebar
          a.btn(data-controls-modal="my-modal", data-backdrop="static", data-keyboard="true") foo1 &nbsp;
          a.btn#pop-info info &nbsp;

          script
            $(function () {
              $("#pop-info").popover({
                  offset: 10
                  , placement: 'below'
                  , title:  function(){return 'the title'}
                  , content : function(){return '<p>the the content</p>'}
              });
            });

          #my-modal.modal.hide.fade
            .modal-header
              a.close(href="#") &times;
              h3 Modal Heading
            .modal-body
              p One fine body…
              p this is a test modal
            .modal-footer
              <a href="#" class="btn primary">Primary</a>
              <a href="#" class="btn secondary">Secondary</a>

          pre.hide
            | Header 1
            | ====
            | Header 2
            | ----
            | ### Header 3
            | **bold**, *italic*, _underline_, [web link](http://posts.li), `code`

            | - item 1
            | - item 2

            | ```
            | code block
            | ```
            | > quote text

            | ![images](http://dev:3000/images/logo-small.png)



      #posts-list
        != partial('entry', locals.posts)
