extends ../layout

block scripts
  script(src="/javascripts/editor.js")
  script(src="/javascripts/posts.js")

block content
  .row
    .span16

      include new-post-editor

      #posts-list
        - for entry in posts
          include entry
